test/wsdl/TestWebServiceService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test/" targetNamespace="http://test/" version="1.0">
<xs:element name="getInfo" type="tns:getInfo"/>
<xs:element name="getInfoResponse" type="tns:getInfoResponse"/>
<xs:complexType name="getInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getInfoResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
